# Prerequisites
*.d
*.filters
Docs\sources_private

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/NTFS/v16

/Builds
/Docs/bin
.cppcheck
.user
/.vs
/NTFS.vcxproj.user
/Docs/sources_private
/vcpkg_installed
